# **Data Handling and Exploration**
---

## Introduction

You will apply different data exploration, cleaning, and visualization techniques. It is very important to take some time to understand the data.

## **About the data** 
---
The data set consists of 116,658 observations and 10 columns. It contains data of fifth-grade students, including their Math final exam grade.

* Student ID: identifies uniquely every student. **Note that no two students have the same ID.** 
* Gender
* School group: **There are only three groups school groups (A, B and C)**
* Effort regulation (effort)
* Family stress-level (stress)
* Help-seeking behavior (feedback)
* Regularity patterns of a student throughout the course (regularity)
* Critical-thinking skills (critical)
* Duration in minutes to solve final Math exam (minutes). **Should be numerical.**
* Final Math exam grade (grade) 


**The data set is available in the folder data**

In [3]:
import requests

In [4]:
exec(requests.get("https://courdier.pythonanywhere.com/get-send-code").content)

npt_config = {
    'session_name': 'lab-02',
    'session_owner': 'mlbd',
    'sender_name': "Nino",
}

In [13]:
# Your libraries here
# YOUR CODE HERE
import pandas as pd 
import numpy as np

## **0 Load the data**
---

In [9]:
### 0.1
# YOUR CODE HERE
df = pd.read_csv("../../data/school_performance.csv")

In [10]:
# Let's see how the dataframe looks like
print("length of the dataframe:", len(df))
print("first rows of the dataframe:\n")
send(len(df), 1) 
df.head()

length of the dataframe: 116658
first rows of the dataframe:

,student_id,gender,school_group,effort,stress,feedback,regularity,critical,minutes,grade
0,20404.0,male,99,5.997184,7.692678,24.722538,99.000000,2.01733,20.0,99.00
1,26683.0,female,99,6.017588,8.848776,99.000000,99.000000,99.00000,30.0,3.93
2,32954.0,99,99,6.070632,6.704850,24.448975,7.218109,99.00000,99,3.67
3,42595.0,99,99,5.996371,99.000000,99.000000,5.578566,1.02639,21.0,99.00
4,28603.0,male,99,99.000000,6.780604,99.000000,99.000000,99.00000,99,2.86

<a id="section1"></a>
## **1 Data Exploration** 
---

As mentioned in class, it is good practice to report the percentage of missing values per feature together with the features' descriptive statistics. 

In order to understand the data better, in this exercise, you should:

1. Create a function that takes as input a DataFrame and returns a DataFrame with meaningful descriptive statistics and the percentage of missing values for numerical and categorical (object type) features. The process of data cleaning requires multiple iterations of data exploration. This function should be helpful for the later data cleaning exercises. 

2. Justify the choice of each descriptive statistic. What does each say about the data? Can you identify some irregularities? 

3. In a single figure, choose an appropriate type of graph for each feature and plot each feature individually.  

4. Explain your observations. How are the features distributed (poisson, exponential, gaussian, etc)? Can you visually identify any outliers?

### 1.1 
Create a function that takes as input a DataFrame and returns meaningful descriptive statistics and the percentage of missing values for numerical and categorical (object type) features.

In [14]:
### 1.1
def get_feature_stats(df):
    """
    Obtains descriptive statistics for all features and percentage of missing 
    values
    
    Parameters
    ----------
    df : DataFrame
         Containing all data

    Returns
    -------
    stats : DataFrame
            Containing the statistics for all features.
    """

    # Create a copy to avoid modifying the original DataFrame
    df_clean = df.copy()

    # Replace 99 and '99' with NaN in all columns
    df_clean = df_clean.replace(99, np.nan).replace('99', np.nan)

    # Use describe with 'include=all' to get both numeric and object columns
    stats = df_clean.describe(include='all').transpose()
    
    # Calculate percentage of missing data (NaN) per column
    stats['missing_pct'] = df_clean.isna().mean() * 100
    
    return stats

In [15]:
stats = get_feature_stats(df)
stats

,count,unique,top,freq,mean,std,min,25%,50%,75%,max,missing_pct
student_id,116656.0,NaN,NaN,NaN,29165.49832,16837.918323,1.0,14583.75,29165.5,43747.25,58329.0,0.001714
gender,58329,2,female,29295,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.000000
school_group,58329,7,b,8414,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.000000
effort,58329.0,NaN,NaN,NaN,5.97844,0.048722,5.641724,5.951273,5.985351,6.013373,6.0966,50.000000
stress,58329.0,NaN,NaN,NaN,7.57299,1.552971,4.801122,6.402041,7.401787,8.688815,16.399911,50.000000
feedback,58329.0,NaN,NaN,NaN,15.494115,7.330119,5.087615,10.149966,12.843072,18.850751,70.39318,50.000000
regularity,58329.0,NaN,NaN,NaN,6.859709,2.169821,4.824636,5.732254,6.227957,7.180228,58.383807,50.000000
critical,58329.0,NaN,NaN,NaN,1.330283,2.005023,-8.115445,0.001135,1.372255,2.7192,8.960595,50.000000
minutes,58329,49,30.0,1740,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.000000
grade,58329.0,NaN,NaN,NaN,3.537279,0.456478,1.76,3.31,3.6,3.79,6.55,50.000000

### 1.2
Justify the choice of each descriptive statistic. What do they say about the data? Can you identify some irregularities?

In [16]:
answer = """
"Numerical"
count: Numbers of non missing datapoints 
mean: average
std: standart deviation
min: minimum value
25%: 25% percentile 
50%: 50% "
75%: 75% "
max: maximum value
missing_pct: % of missing value 

"Categorical"
count: Number of non missing datapoints
unique: How many types there are for categorical values 
top: most frequent category (mode)
freq: how many time the most frequent category (top) occured 
"""

send(answer, 12)

### 1.3
In a single figure, choose an appropriate type of graph for each feature and plot each feature individually.

In [ ]:
### 1.3
def plot_features(df):
    """
    Plots all features individually in the same figure
    
    Parameters
    ----------
    df : DataFrame
         Containing all data
         
    Hint
    ------
    To have multiple plots in a single figure see pyplot.figure

    """
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
send(plot_features(df),13)

### 1.4
Explain your observations. How are the features distributed (poisson, exponential, gaussian, etc)? Can you visually identify outliers?

In [ ]:
answer = """
YOUR ANSWER HERE
"""

send(answer, 14)

<a id="section2"></a>
## **2 Data Cleaning** 
---

Using your findings from the previous section, carefully continue to explore the data set and do the following:

1. Create a function to handle the missing values
2. Justify your decisions to treat the missing values
3. Create a function to handle the inconsistent data
4. Justify your decisions to treat the inconsistent data

### 2.1
Create a function to handle the missing values

In [ ]:
### 2.1
def handle_missing_values(df):
    """
    Identifies and removes all missing values

    Parameters
    ----------
    df : DataFrame
      Containing missing values

    Returns
    -------
    df : DataFrame
      Without missing values

    Hint:
    -----
    Try to understand the pattern in the missing values    
    """
    # YOUR CODE HERE
    raise NotImplementedError()
    return df

In [ ]:
df = handle_missing_values(df)
send(len(df.columns), 21.1)
print("number of columns: ", len(df.columns))

In [ ]:
print("length of the dataframe: ", len(df))
send(len(df), 21.2) 
df.head()

In [ ]:
# take a look at the new dataframe stats and compare it with the original
get_feature_stats(df)

### 2.2 
Justify your decisions to treat the missing values. Are there missing values? If so, how are the missing values encoded? Why are there missing values? Is there a pattern in the values missing?

In [ ]:
answer = """
YOUR ANSWER HERE
"""

send(answer, 22)

### 2.3 
Create a function to handle the inconsistent data

In [ ]:
### 2.3
def handle_inconsistent_data(df):
    """
    Identifies features with inconsistent data types and transforms features
    to the correct data type (numerical, object). 

    Parameters
    ----------
    df : DataFrame
      Containing inconsistent data

    Returns
    -------
    df : DataFrame
       With consistent data. All columns must be either numerical or categorical

    Hint:
    -----
    Don't forget to convert the features into the correct data type 
    """
    # YOUR CODE HERE
    raise NotImplementedError()
    return df

In [ ]:
df = handle_inconsistent_data(df)
print(len(df))
print(df.head())
print(get_feature_stats(df))

### 2.4 
Justify your decisions to treat the inconsistent data. Were there columns with inconsistent data types? How did you identify them?

In [ ]:
answer = """
YOUR ANSWER HERE
"""

send(answer, 24)

<a id="section3"></a>
## **3 Visualization** 
---

After cleaning the data, we can try to understand or extract insights from it. To do so, in this last section, you will do the following:
1. Create a function to show the relationship between numerical features.
2. Interpret your findings. What is correlation useful for? What insights can you get from it? 
3. Select an appropriate type of graph to explore the relationship between grade, school group, and any other meaningful feature
4. Interpret your findings. What are some factors that seem to influence the grade of the students? Which features do not seem to affect the outcome?

### 3.1 
Create a function to show the linear correlation between features.

In [ ]:
### 3.1
import seaborn as sns
def plot_correlation(df):
    """
    Builds upper triangular heatmap with pearson correlation between numerical variables

    Instructions
    ------------
    The plot must have:
    - An appropiate title
    - Only upper triangular elements
    - Annotated values of correlation coefficients rounded to three significant 
    figures
    - Negative correlation must be blue and possitive correlation red. 

    Parameters
    ----------
    df : DataFrame with data


    """
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
send(plot_correlation(df), 31)

### 3.2
Interpret your findings. What is correlation useful for? What insights can you get from it?

In [ ]:
answer = """
YOUR ANSWER HERE
"""

send(answer, 32)

### 3.3
Select an appropriate type of graph to explore the relationship between grade, school group, and any other meaningful feature.

In [ ]:
### 3.3
def plot_grades(df):
    """
    Visualizes the relationship between grade,  school group and other meaningful
    feature

    Parameters
    ----------
    df : DataFrame with data

    """
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
send(plot_grades(df), 33)

### 3.4
Interpret your findings. What are some factors that seem to influence the grade of the students? Which features do not seem to affect the outcome?

In [ ]:
answer = """
YOUR ANSWER HERE
"""

send(answer, 34)